<div fxFlex="600px" fxLayout="column" style="margin-top: 20px; margin-left: 20px; margin-bottom: 10px;">
    <p class="mat-title">DONATION AMOUNT</p>
    <form [formGroup]="paymentForm">
        <div>
            <label id="amountLabel">Choose your amount</label>
            <mat-radio-group aria-labelledby="amountLabel" formControlName="amount" [(ngModel)]="amount">
                <div fxLayout fxLayoutGap="100px" style="margin-top: 15px;">
                    <mat-radio-button [value]="amount" *ngFor="let amount of definedAmount">₹ {{amount}}
                    </mat-radio-button>
                </div>
                <div style="margin-top: 15px;">
                    <mat-radio-button>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Enter other amount" (input)="onInput($event.target.value)">
                        </mat-form-field>
                    </mat-radio-button>
                </div>
            </mat-radio-group>
        </div>
        <div>
            <p>Payment Amount: {{amount}}</p>
        </div>
        <button color="primary" type="button" mat-raised-button (click)="createRazorPayOrder()">
            <img src="./../../../assets/button.png" alt="razorPayButton" style="height:20px">
            <span> Donate</span>
        </button>
    </form>
</div>