<mat-card>
    <div fxFlex fxLayout>
        <div fxFlex="25%" fxLayout="column" fxLayoutAlign="center">
            <img src="./../../../assets/donation.jpg" alt="donation" style="width: 300px;">
        </div>
        <div fxFlex=10%>
            <mat-divider [vertical]=true style="height:100%; border-width: 2px; border-color: grey;"></mat-divider>
        </div>
        <mat-tab-group>
            <mat-tab label="Razorpay">
                <app-razorpay-payment></app-razorpay-payment>
            </mat-tab>
            <mat-tab label="Stripe">
                <app-stripe-payment></app-stripe-payment>
            </mat-tab>
        </mat-tab-group>
    </div>
</mat-card>